language: objective-c
osx_image: xcode9.2
xcode_workspace: Percolator.xcworkspace
xcode_scheme: Bangumi M
xcode_sdk: iphonesimulator

before_install:
  - gem install xcpretty 
  - travis_wait pod repo update

cache:
  - bundler
  - cocoapods

before_script: cd Percolator

script: xcodebuild -workspace Percolator.xcworkspace -scheme 'Bangumi M' -sdk iphonesimulator -configuration Debug ONLY_ACTIVE_ARCH=NO build | xcpretty && exit ${PIPESTATUS[0]}
